<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Billbo</title>
    <link rel="stylesheet" href="styles/libs.css" />
    <script src="scripts/libs-header.js"></script>
  </head>
  <body>
