<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Billbo - {{title}}</title>
    <link rel="stylesheet" href="styles/libs.css" />
    <link rel="stylesheet" href="styles/app.css" />
    <script src="scripts/libs-header.js"></script>
  </head>
  <body>

    {{> @partial-block }}

    <script src="scripts/libs.js"></script>
    <script src="scripts/app.js"></script>
    <script>$(document).foundation();</script>
    <script>require("views/home").init();</script>
  </body>
</html>
