---
title: Ajude uma instituição aonde ela mais precisa
---

{{#> layout }}

<header class="row">
  <section class="small-12 columns">
    <h1>Billbo <small>Ajude uma instituição aonde ela mais precisa</small></h1>
  </section>
</header>

<section class="row">
  <div class="small-12 medium-4 columns" style="text-align: center">
    <a class="th" href="#">
      <img src="http://placehold.it/300?text=Logo+Instituição" alt="Logo Instituição" />
    </a>
  </div>
  <div class="small-12 medium-8 columns">
    <header>
      <h2>Uma Instituição</h2>
    </header>
    <p>
      Bacon ipsum dolor amet irure pariatur filet mignon veniam. Biltong velit pork loin filet mignon, dolore exercitation strip steak. Velit culpa kielbasa ipsum esse filet mignon drumstick ham hock chicken incididunt laboris swine frankfurter. Aliquip sed in labore, reprehenderit consequat qui velit dolore quis ullamco drumstick.
    </p>
  </div>
</section>

<section class="row">
  <header class="small-12 columns">
    <h2>Nossas Contas</h2>
  </header>

  <div id="bill-list" class="small-12 columns"></div>
</section>

{{/layout}}
